<!doctype html>
<title>Kind Reads Tools</title>
<h1>Kind Reads Tools</h1>
<p>These tools are part of the upload process to get new books into the Kind Reads online store.
The complete upload process is described in the <a href="https://docs.google.com/document/d/1BCiLPedG6uMLOEDYWTGQ6CWbl3cigbEP/edit?usp=drive_link&ouid=100750778402474776279&rtpof=true&sd=true">Kind Reads Upload Guide</a>.
Use these tools to check the CSV file for errors and review book cover images before uploading.
<p><a href="{{ url_for('validatecsv') }}">Validate CSV file</a></p>
<p><a href="{{ url_for('bookcovers') }}">Review book covers from CSV file</a></p>